.logo {
 display: flex;
 flex-direction: row;
 flex-wrap: nowrap;
 justify-content: center;
 align-items: baseline;
 align-content: stretch;
 background-color: orange
    
}

.ulstyle {
    list-style-type: none;
    display: inline-flex;
    gap: 90px;
    background-color: orange;
    padding: 20px;
    font-size: 40px;
    color: orange;
    font-family: sans-serif;
}

.navlinks a:hover {
    text-decoration: none;
    font-weight: bold;
    font-family: 'Abel', sans-serif;
}

.x {
    display: flex;
    background-color: orange;
    align-content: center;
    justify-content: center;
}

table, td, th {
    background-color: rgb(255, 106, 0);
    border: solid black 1px;
    border-collapse: collapse;
    padding: 10px;
  }
  
  #container {
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
  }

.form {
    border: solid black 1px;
    border-collapse: collapse;
    padding: 10px;
    display: flex;
    background-color: orange;
    align-content: center;
    justify-content: center;
  }


body {
    background-color: darkorange;
}
    @media all and (max-width: 550px){
        .main{
            flex-direction: column;
        }
        main{
            padding: 4em 0 4em 0;
        }
    }
    
